@use '../util' as *;

.footer {
  background-color: var(--clr-gray-950);
  color: var(--clr-white);
  padding-block: rem(55);
  text-align: center;

  &__logo {
    svg {
      margin: auto;
      fill: var(--clr-white);
      margin-block-end: var(--sp-48);
    }
  }

  &__links {
    @include flexbox;
    @include flex-direction(column);
    gap: var(--sp-32);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    h2 {
      font: var(--text-preset-7-bold);
      margin-block-end: var(--sp-24);
    }

    a {
      @include inline-flex;
      @include align-items(center);
      height: var(--sp-40);
      color: var(--clr-gray-400);
      font: var(--text-preset-7);
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        color: var(--clr-blue-400);
      }
    }
  }

  &__social {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-shrink(0);
    margin-inline: auto;
    width: rem(168);
    padding-block-end: var(--sp-40);

    a {
      transition: var(--transition);
      svg {
        fill: var(--clr-white);
      }

      &:hover {
        svg {
          fill: var(--clr-blue-400);
        }
      }
    }
  }

  @include breakpoint(large) {
    padding-block: rem(67.5);

    &__wrapper {
      @include flexbox;
      @include justify-content(space-between);
      width: 100%;
      max-width: rem(1110);
      margin: auto;

      &-links {
        @include flexbox;
        @include justify-content(space-between);
        width: rem(736);
      }
    }

    &__links {
      @include flex-direction(row);
      @include justify-content(space-between);
      width: rem(458);
      text-align: left;
    }

    &__social {
      @include align-items(flex-start);
      margin: 0;
    }
  }
}
.attribution {
  margin-block-start: var(--sp-40);
  font-size: var(--fs-xsmall);
  text-align: center;
}

.attribution a {
  color: var(--clr-gray-400);
  transition: var(--transition);

  &:hover {
    color: var(--clr-blue-400);
  }
}
