@use '../util' as *;

.form {
  &__wrapper {
    padding-block: rem(75);
    padding-inline: rem(24);
    background-color: var(--clr-white);
    background-image: var(--gradient);

    > div {
      max-width: rem(1110);
      margin-inline: auto;
    }
  }

  padding: var(--sp-24);
  border-radius: rem(10);
  background-color: var(--clr-purple-950);
  background-image: url(../../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  form {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    gap: var(--sp-16);
  }

  &-group {
    width: 100%;
    position: relative;

    .invalid-feedback {
      font: var(--text-preset-7-italic);
      color: var(--clr-red-400);
      position: absolute;
      bottom: rem(-8);
    }

    .is-invalid {
      border: 3px solid var(--clr-red-400);
      margin-block-end: rem(16);
    }
  }

  &-control {
    @include flexbox;
    @include align-items(center);
    padding-inline: var(--sp-16);
    background-color: var(--clr-white);
    border-radius: rem(5);
    width: 100%;
    height: var(--sp-48);
    font: var(--text-preset-7);
    border: 1px solid var(--clr-gray-500);

    &::placeholder {
      color: var(--clr-gray-500);
    }
  }

  @include breakpoint(medium) {
    background-image: url(../../images/bg-shorten-desktop.svg);
    padding: rem(56) rem(64) rem(50);
    height: rem(168);

    &__wrapper {
      padding-block-end: rem(93);
    }

    form {
      @include flex-direction(row);
      gap: var(--sp-24);
    }

    .btn,
    &-control {
      height: rem(62);
    }

    &-control {
      border-radius: rem(10);
      font: var(--text-preset-5);
      padding-inline: var(--sp-32);
    }
  }

  @include breakpoint(large) {
    &__wrapper {
      padding-inline: rem(0);
      padding-block-start: rem(72);
      padding-block-end: rem(88);
    }
  }
}

.results {
  &__wrapper {
    background-color: var(--clr-purple-50);
    padding-inline: rem(24);
    padding-block-end: rem(88);
    height: rem(243);
    transition: all 0.25s ease-in-out;

    &.hidden {
      height: 0;
      padding: 0;
    }
  }

  background-color: var(--clr-white);
  color: var(--clr-gray-900);
  border-radius: rem(5);
  padding-block: rem(15);
  height: rem(155);
  opacity: 1;
  font: var(--text-preset-7);
  transition: all 0.25s ease-in-out;
  width: 100%;
  max-width: rem(1110);
  margin-inline: auto;

  &.hidden {
    height: 0;
    opacity: 0;
  }

  &__header,
  &__body {
    padding-inline: rem(15);
  }

  &__header {
    border-bottom: 1px solid var(--clr-gray-500);
    padding-block-end: rem(8);
    margin-block-end: rem(8);
  }

  .link {
    display: inline-block;
    color: var(--clr-link);
    text-decoration: none;
    margin-block-end: rem(16);
  }

  .btn {
    height: rem(40);
    width: 100%;

    &.dark {
      background-color: var(--clr-purple-950);
    }
  }

  @include breakpoint(medium) {
    padding-block: rem(10);
    font: var(--text-preset-5);
  }

  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(72);
    padding-inline: rem(28);
    &__header {
      border-bottom: none;
      padding: 0;
      margin: 0;
    }
    &__body {
      display: flex;
      align-items: center;
      gap: rem(24);
      padding: 0;

      .link {
        padding: 0;
        margin: 0;
      }

      .btn {
        width: rem(103);
      }
    }
  }
}
