@use '../util' as *;

.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  margin: auto;
  gap: var(--sp-48);
  position: relative;
  padding: var(--sp-40) 0 var(--sp-24);

  &__logo {
    display: flex;
    align-items: flex-end;
    height: rem(39);
    width: rem(120.04);
    flex-shrink: 0;

    svg {
      fill: var(--clr-gray-900);
      height: rem(32.67);
      width: rem(120.04);
    }
  }

  @include breakpoint(medium) {
    padding-block-end: rem(95);
  }

  @include breakpoint(large) {
    padding-block-start: rem(48);
    padding-block-end: rem(72);
  }
}
