@use '../util' as *;

.stats {
  &__wrapper {
    background-color: var(--clr-purple-50);
    padding-block-end: rem(88);
  }

  &__header {
    text-align: center;
    margin-bottom: var(--sp-56);
    padding-inline: var(--sp-24);

    h2 {
      font: var(--text-preset-3);
      color: var(--clr-gray-900);
    }

    p {
      font: var(--text-preset-7);
      color: var(--clr-gray-500);
    }

    @include breakpoint(medium) {
      max-width: rem(540);
      margin-inline: auto;
      margin-bottom: var(--sp-40);

      h2 {
        font: var(--text-preset-2);
        letter-spacing: rem(-1);
      }

      p {
        font: var(--text-preset-6);
      }
    }
  }
}
