@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  text-decoration: none;
  font-size: inherit;
  transition: all 0.2s ease-in-out;
  border-radius: rem(10);
}
