@use '../util' as *;

.form {
  padding: var(--sp-24);
  border-radius: rem(10);
  background-color: var(--clr-purple-950);
  background-image: url(../../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  form {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    gap: var(--sp-16);
  }

  &-group {
    width: 100%;
  }

  &-control {
    @include flexbox;
    @include align-items(center);
    padding-inline: var(--sp-16);
    background-color: var(--clr-white);
    border-radius: rem(5);
    width: 100%;
    height: var(--sp-48);
    font: var(--text-preset-7);
    border: 1px solid var(--clr-gray-500);
    color: var(--clr-gray-500);
  }

  .btn {
    background-color: var(--clr-blue-400);
    color: var(--clr-white);
    border: none;
    height: var(--sp-48);
    width: 100%;
    font: var(--text-preset-6-bold);
  }

  @include breakpoint(medium) {
    background-image: url(../../images/bg-shorten-desktop.svg);
    padding: rem(56) rem(64) rem(50);
    gap: var(--sp-24);
    height: rem(168);

    form {
      @include flex-direction(row);
    }

    .btn,
    &-control {
      height: rem(62);
    }

    .btn {
      width: rem(188);
    }

    &-control {
      border-radius: rem(10);
      font: var(--text-preset-5);
    }
  }
}
