@use '../util' as *;

.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  margin: auto;
  gap: var(--sp-48);
  position: relative;
  padding: var(--sp-40) var(--sp-24) var(--sp-24);

  @include breakpoint(medium) {
    padding-block-end: rem(95);
  }

  @include breakpoint(large) {
    padding-block-start: rem(48);
  }
}
